.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

input {
    height: 20px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}
button{
    padding: 7px;
    font-size: 15px;
}
form{
    margin: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}