.todo_input{
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.todo_input:focus {
  outline: none;
  border-color: #007bff;
}

.add_todo {
  padding: 7px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.todo_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px;

}
.edit_todo, .delete_todo {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}